<%- include ('../include/header') -%>

    <div class="input-group mb-3">
        <span class="input-group-text" id="basic-addon1">아이디</span>
        <input type="text" class="form-control" id="id" placeholder="아이디를 입력해주세요."
            aria-label="Username" aria-describedby="basic-addon1">
    </div>

    <div class="input-group mb-3">
        <span class="input-group-text" id="basic-addon1">비밀번호</span>
        <input type="password" class="form-control" id="password" placeholder="비밀번호를 입력해주세요."
            aria-label="Username" aria-describedby="basic-addon1">
    </div>

    <button type="button" class="btn btn-success" onclick="chkSignUp()">회원가입</button>

    <%- include ('../include/modal') -%>

        <script>
            // 회원 가입
            function chkSignUp() {
                let id = document.getElementById('id').value;
                let password = document.getElementById('password').value;

                var myModal = new bootstrap.Modal(document.getElementById("noticeModal"), {});
                var myWrongModal = new bootstrap.Modal(document.getElementById("wrongModal"), {});


                const data = {
                    id: id,
                    password: password,
                }

                if (id == '' || password == '') {
                    myChkValModal.show();

                } else {

                    const url = '/accountAPI/signUp';
                    const init = {
                        method: 'POST',
                        body: JSON.stringify(data),
                        headers: {
                            'Content-Type': 'application/json',
                        },
                        credentials: 'same-origin'
                    };

                    fetch(url, init)
                        .then((res) => res.json())
                        .then(res => {
                            responseTxt = res;

                            const modalTitle = document.querySelector('#msgTitle');
                            var mtTxt = document.createTextNode(responseTxt['modal_title']);
                            modalTitle.appendChild(mtTxt);

                            const modalBody = document.querySelector('#msgbody');
                            var mbTxt = document.createTextNode(responseTxt['modal_body']);
                            modalBody.appendChild(mbTxt);

                            if (res.status == 200 || res.status == 201) {
                                document.getElementById('exitButton').setAttribute('onclick', 'window.location.href="/login"');
                                document.getElementById('correctButton').setAttribute('onclick', 'window.location.href="/login"');

                            } else {
                                document.getElementById('exitButton').setAttribute('onclick', "closeOneModal('noticeModal')");
                                document.getElementById('correctButton').setAttribute('onclick', "closeOneModal('noticeModal')");

                            }

                            myModal.show();
                        })

                }
            }

        </script>

        <%- include ('../include/footer') -%>