<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>Register</title>
		<script src="register.js" defer></script>
		<link rel="stylesheet" href="login.css">
	</head>
	
	<body>
		<div class="login-page">
			<div class="form">
				<form class="login-form" method="post">
					<input id="name" type="text" placeholder="name" />
					<input id="id" type="text" placeholder="ID" />
					<input id="password" type="password" placeholder="password" />
					<button>create</button>
					<p class="message">Already registered? <a href="login.html">Sign In</a></p> 
				</form>
			</div>
		</div>
	</body>
</html>