<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    <title>한국공대 애니타임</title>
</head>

<body>

    <div id='headerDiv' style="margin-bottom: 30px;">
        <!-- <button type="button" class="btn btn-secondary" onclick="location.href='/login'" disabled="true">로그인</button>
        <button type="button" class="btn btn-success" onclick="location.href='/signUp'" disabled="">회원가입</button> -->
    </div>